{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="row py-4">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Applications</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New Applications</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-chart-pie-35"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Active Applications</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="ni ni-money-coins"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="ni ni-chart-bar-32"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
              <h5 class="h3 text-white mb-0">Loans value</h5>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark"
                  data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$"
                  data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark"
                  data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$"
                  data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Company Registration</h6>
              <h5 class="h3 mb-0">Total Registered Companies</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-bars" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recent Applications</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Company name</th>
                <th scope="col">PIC</th>
                <th scope="col">Request Figure</th>
                <th scope="col">Request Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Google
                </td>
                <td>
                  Ivan
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 34,332
                </td>
                <td>
                  13-6-2021
                </td>
              </tr>
              <tr>
                <td>
                  Microsoft
                </td>
                <td>
                  Koh Han Yi
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 32,493
                </td>
                <td>
                  13-6-2021
                </td>
              </tr>
              <tr>
                <td>
                  Apple
                </td>
                <td>
                  Chua Bing Quan

                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 32,432
                </td>
                <td>
                  12-6-2021
                </td>
              </tr>
              <tr>
                <td>
                  Amazon
                </td>
                <td>
                  Sam
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 23,542
                </td>
                <td>
                  11-6-2021
                </td>
              </tr>
              <tr>
                <td>
                  Tesla
                </td>
                <td>
                  Lam
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 36,540
                </td>
                <td>
                  11-6-2021
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Credit Worthiness</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Scores</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75"
                          aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Applications Management</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->


<!-- Main content -->
<div class="container-fluid">
  <!-- /.row -->
  <div class="row">
    <div class="col-10">
      <div class="card shadow-lg">
        <div data-toggle="collapse" data-target="#collapseCalibration" aria-expanded="false"
          aria-controls="collapseExample">
          <div class="flex">
            <h3 style="width: 200px;" class="card-title m-2">Google</h3>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="shadow-lg card-body table-responsive p-0 collapse" id="collapseCalibration">
          <div class="container emp-profile">
            <form method="post">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-img">
                    <img src="../../static/google.png" width="140px" height="140px" alt="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profile-head">
                    <h5>
                      Google
                    </h5>
                    <h6>
                      Web Developer and Designer
                    </h6>
                    <p class="proile-rating">CTOS : : <span>790</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                          aria-controls="home" aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cashFlow" role="tab"
                          aria-controls="cashFlow" aria-selected="false">Cashflow Prediction</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#businessModel" role="tab"
                          aria-controls="businessModel" aria-selected="false">Business Model Strategy</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <label>SSM Registration Id</label>
                        </div>
                        <div class="col-md-6">
                          <p>1231231223<span class="ml-2"><button type="button" class="btn btn-success">Verify</button>
                          </p>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Director Name</label>
                        </div>
                        <div class="col-md-6">
                          <p>Ivan</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Company Email</label>
                        </div>
                        <div class="col-md-6">
                          <p>google@gmail.com</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p>123 456 7890</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Business Nature</label>
                        </div>
                        <div class="col-md-6">
                          <p>Information Technology</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="cashFlow" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="profile-img">
                          <img src="../../static/prediction.png" width="600px" height="300px" alt="" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Your Bio</label><br />
                          <p>Your detail description</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="businessModel" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="m-4 pitch-video">
                          <iframe width="600" height="315"src="https://www.youtube.com/embed/P2LwuF7zn9c?autoplay=1&mute=1"></iframe>
                        </div>
                      </div>
                      <div>
                        <h3>Introduce yourself and tell us something interesting about you?</h3>
                        <ul>
                          <li>
                            <p>
                              When thinking about something interesting about yourself, reflect on your previous life experiences. You may realize that you did something special or developed a useful, unique skill. For example, you may remember a trip you went on where you learned how to surf. Sharing this fun fact may show that you are open to adventure and trying new things.

                            </p>
                          </li>
                        </ul>
                        <h3>Why do you do what you do?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>

                        <h3>What problems are you solving?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>Who specifically will benefit from this (ICA/ICP)?'</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>How are you solving this/their problems?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Approve</button>
    </div>

    <div class="col-1">

      <button type="button" class="btn btn-danger">Decline</button>
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- Main content -->
<div class="container-fluid">
  <!-- /.row -->
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div data-toggle="collapse" data-target="#collapseApple" aria-expanded="false" aria-controls="collapseExample">
          <h3 class="card-title m-2">Apple</h3>
        </div>
        <!-- /.card-header -->
        <div class="shadow-lg card-body table-responsive p-0 collapse" id="collapseApple">

          <div class="container emp-profile">
            <form method="post">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-img">
                    <img src="../../static/apple.jpg" width="270px" height="140px" alt="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profile-head">
                    <h5>
                      Apple
                    </h5>
                    <h6>
                      Web Developer and Designer
                    </h6>
                    <p class="proile-rating">CTOS : : <span>790</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#homeApple" role="tab"
                          aria-controls="home" aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cashFlowApple" role="tab"
                          aria-controls="cashFlow" aria-selected="false">Cashflow Prediction</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#businessModelApple" role="tab"
                          aria-controls="businessModel" aria-selected="false">Business Model Strategy</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="homeApple" role="tabpanel" aria-labelledby="home-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <label>SSM Registration Id</label>
                        </div>
                        <div class="col-md-6">
                          <p>1231231224<span class="ml-2"><button type="button" class="btn btn-success">Verify</button>
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Director Name</label>
                        </div>
                        <div class="col-md-6">
                          <p>Chua Bing Quan</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Company Email</label>
                        </div>
                        <div class="col-md-6">
                          <p>google@gmail.com</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p>123 456 7890</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Business Nature</label>
                        </div>
                        <div class="col-md-6">
                          <p>Information Technology</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="cashFlowApple" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="profile-img">
                          <img src="../../static/prediction.png" width="600px" height="300px" alt="" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Your Bio</label><br />
                          <p>Your detail description</p>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="businessModelApple" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="m-4 pitch-video">
                          <iframe width="600" height="315"src="https://www.youtube.com/embed/XWRtG_PDRik?autoplay=1&mute=1"></iframe>
                        </div>
                      </div>
                      <div>
                        <h3>Introduce yourself and tell us something interesting about you?</h3>
                        <ul>
                          <li>
                            <p>
                              When thinking about something interesting about yourself, reflect on your previous life experiences. You may realize that you did something special or developed a useful, unique skill. For example, you may remember a trip you went on where you learned how to surf. Sharing this fun fact may show that you are open to adventure and trying new things.

                            </p>
                          </li>
                        </ul>
                        <h3>Why do you do what you do?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>

                        <h3>What problems are you solving?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>Who specifically will benefit from this (ICA/ICP)?'</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>How are you solving this/their problems?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Approve</button>
    </div>

    <div class="col-1">

      <button type="button" class="btn btn-danger">Decline</button>
    </div>
  </div>
</div>
<!-- /.row -->
<!-- Main content -->
<div class="container-fluid">
  <!-- /.row -->
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div data-toggle="collapse" data-target="#collapseMicrosoft" aria-expanded="false"
          aria-controls="collapseExample">
          <h3 class="card-title m-2">Microsoft</h3>
        </div>
        <!-- /.card-header -->
        <div class="shadow-lg card-body table-responsive p-0 collapse" id="collapseMicrosoft">

          <div class="container emp-profile">
            <form method="post">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-img">
                    <img src="../../static/microsoft.png" width="140px" height="140px" alt="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profile-head">
                    <h5>
                      Microsoft
                    </h5>
                    <h6>
                      Web Developer and Designer
                    </h6>
                    <p class="proile-rating">CTOS : <span>690</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#homeMicrosoft" role="tab"
                          aria-controls="home" aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cashFlowMicrosoft" role="tab"
                          aria-controls="cashFlow" aria-selected="false">Cashflow Prediction</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#businessModelMicrosoft" role="tab"
                          aria-controls="businessModel" aria-selected="false">Business Model Strategy</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="homeMicrosoft" role="tabpanel"
                      aria-labelledby="home-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <label>SSM Registration Id</label>
                        </div>
                        <div class="col-md-6">
                          <p>1231231225<span class="ml-2"><button type="button" class="btn btn-success">Verify</button>
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Director Name</label>
                        </div>
                        <div class="col-md-6">
                          <p>Koh Han Yi</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Company Email</label>
                        </div>
                        <div class="col-md-6">
                          <p>google@gmail.com</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p>123 456 7890</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Business Nature</label>
                        </div>
                        <div class="col-md-6">
                          <p>Information Technology</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="cashFlowMicrosoft" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="profile-img">
                          <img src="../../static/prediction.png" width="600px" height="300px" alt="" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Your Bio</label><br />
                          <p>Your detail description</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="businessModelMicrosoft" role="tabpanel" aria-labelledby="cashFlow-tab">
                      <div class="row">
                        <div class="m-4 pitch-video">
                          <iframe width="600" height="315"src="https://www.youtube.com/embed/P2LwuF7zn9c?autoplay=1&mute=1"></iframe>
                        </div>
                      </div>
                      <div>
                        <h3>Introduce yourself and tell us something interesting about you?</h3>
                        <ul>
                          <li>
                            <p>
                              When thinking about something interesting about yourself, reflect on your previous life experiences. You may realize that you did something special or developed a useful, unique skill. For example, you may remember a trip you went on where you learned how to surf. Sharing this fun fact may show that you are open to adventure and trying new things.

                            </p>
                          </li>
                        </ul>
                        <h3>Why do you do what you do?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>

                        <h3>What problems are you solving?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>Who specifically will benefit from this (ICA/ICP)?'</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                        <h3>How are you solving this/their problems?</h3>
                        <ul>
                          <li>
                            <p>
                              Experiences in our lives also lend influence as to why we do the things we do. If you became a veterinarian, perhaps this was because when you were young you found a baby bird that had broken its wing, and you were able to nurse it back to health. The experience, coupled with the way it made you feel, led you to pursue an avenue that allowed you to nurture and help animals. When you look back to remember why you started, you’ll recall the bird you encountered so long ago.

                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Approve</button>
    </div>

    <div class="col-1">

      <button type="button" class="btn btn-danger">Decline</button>
    </div>
  </div>
</div>
<!-- /.row -->


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script>

  const config = {
  type: 'line',
  data: {
    labels: labels,
      datasets: [{
        type: 'bar',
      label: 'Dataset 1',
        backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
        borderColor: Utils.CHART_COLORS.red,
        data: Utils.numbers(NUMBER_CFG),
      }, {
        type: 'bar',
        label: 'Dataset 2',
        backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
        borderColor: Utils.CHART_COLORS.blue,
        data: Utils.numbers(NUMBER_CFG),
      }, {
        type: 'line',
        label: 'Dataset 3',
        backgroundColor: Utils.transparentize(Utils.CHART_COLORS.green, 0.5),
        borderColor: Utils.CHART_COLORS.green,
        fill: false,
        data: Utils.numbers(NUMBER_CFG),
      }]
    },
  options: {
      plugins: {
      title: {
          text: 'Chart.js Combo Time Scale',
          display: true
      }
      },
      scales: {
      x: {
          type: 'time',
          display: true,
          offset: true,
          time: {
          unit: 'day'
          }
      },
      },
  },
  };

    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

</script>
{% endblock javascripts %}