{% extends 'layout.html' %}
{% block title %}
BiH Service
{% endblock %}
{% block content %}
<!-- <div class="row py-4 justify-content-md-center">
    <div class="col-sm-4">
        <div class="card" style="height: 454px">
            <div class="card-body">
                <div class="card-image">
                    <img src="{{url_for('static', filename='audit2.jpg')}}" style="width:405px; height:270px" class="d-block w-100" alt="...">
                </div>
                <h5 class="card-title mt-2">Apply for Bank Loan</h5>
                <p class="card-text">Fill in forms to verify your applicability.</p>
                
                <div class="float-right">
                    <a href="/main/form/1" class="btn btn-success">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="wrapper" style="display: flex;
justify-content: space-between;" x-data="{
    openTab:1,
    activeClasses:'border-l border-t border-r rounded-t text-blue-700',
    inactiveClasses: 'text-blue-500 hover:text-blue-800'
}">
    <!-- Navbar -->

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside style="max-height: 100vh !important; position: sticky !important;"
        class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar" style="height: 100vh;position: -webkit-sticky;position: sticky; top: 0;">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="./static/google.png" class="img-circle elevation-2" alt="" />
                </div>
                <div class="info">
                    <a href="#" class="d-block">Ivan</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p class="text-white">
                                Dashboard
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div style="margin-left: 0 !important;" class="content-wrapper w-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="container emp-profile rounded-lg shadow-lg">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-img">
                                        <img src="./static/google.png" alt="" />
                                        <div class="file btn btn-lg btn-primary">
                                            Change Photo
                                            <input type="file" name="file" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="profile-head">
                                        <h5>
                                            Google
                                        </h5>
                                        <h6>
                                            Web Developer and Designer
                                        </h6>
                                        <p class="proile-rating">CTOS : <span>760</span></p>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                    role="tab" aria-controls="home" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                                    role="tab" aria-controls="profile"
                                                    aria-selected="false">Application</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- <a href="/main/form/1" class="p-2 text-white btn-secondary rounded"
                                        name="btnAddMore">
                                        Apply for bank loan
                                    </a> -->
                                    <div id="showApplication" class="p-2 text-white btn-secondary rounded">
                                        Apply for bank loan
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-work">
                                        <p>WORK LINK</p>
                                        <a href="">Website Link</a><br />
                                        <a href="">Bootsnipp Profile</a><br />
                                        <a href="">Bootply Profile</a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>SSM Registration Id</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>1231231223</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Director Name</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Ivan</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Company Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>google@gmail.com</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Phone</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>123 456 7890</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Business Nature</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Information Technology</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="loanProgress">
                                                    <ul>
                                                        <li>
                                                            <img src="static/submit_form.jpg" alt=""
                                                                class="mx-auto"><br>
                                                            <i class="fa fa-check"></i>
                                                            <p>Form Submitted</p>
                                                        </li>
                                                        <li>
                                                            <img src="static/submit_form.jpg" alt=""
                                                                class="mx-auto"><br>
                                                            <i class="fa fa-check"></i>
                                                            <p>In Progress</p>
                                                        </li>
                                                        <li>
                                                            <img src="static/submit_form.jpg" alt=""
                                                                class="mx-auto"><br>
                                                            <i class="fa fa-refresh"></i>
                                                            <p>Approve</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Your Bio</label><br />
                                                    <p>Your detail description</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div x-show="openTab===2"> -->
                <div class="row" id="application" style="display: none;">
                    <div class="container shadow-lg">
                        <div class="card px-0 pt-4 pb-0 mt-3 mb-3 p-4">
                            <h2 id="heading">Bank Loan Application</h2>
                            <p>Fill up all the informartion to next step</p>
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="account"><strong>Account</strong></li>
                                    <li id="personal"><strong>Business Model Strategy</strong></li>
                                    <li id="payment"><strong>Business Model Strategy Video Upload</strong></li>
                                    <li id="package"><strong>Loan Package</strong></li>
                                    <li id="confirm"><strong>Finish</strong></li>
                                </ul>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> <br> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">
                                                    APPLY FOR BANK LOAN
                                                </h2>
                                                <p>Kindly fill in all fields in order to go to the next step.</p>

                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 1 - 5</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto mb-4">
                                        {{ form.companyName.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Company Full Name">
                                    </div>

                                    <div class="col-auto mb-4">
                                        {{ form.companyAddress1.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Address 1">
                                    </div>

                                    <div class="col-auto mb-4">
                                        {{ form.companyAddress2.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Address 2">
                                    </div>

                                    <div class="col-auto mb-4 row g-3 align-items-auto">
                                        <div class="col-md-4">
                                            {{ form.city.label(class="float-left") }}
                                            <input type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.zip.label(class="float-left") }}
                                            <input type="text" class="form-control" placeholder="Zip">
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.country.label(class="float-left") }}
                                            <input type="text" class="form-control" placeholder="Country">
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        {{ form.businessType.label(class="float-left") }}
                                        <br>
                                        <select type="select" class="form-select form-select-lg mb-3 w-full"
                                            aria-label=".form-select-lg">
                                            <option selected>Business Type</option>
                                            <option value="1">Sole Proprietorship</option>
                                            <option value="2">Partnership</option>
                                            <option value="3">Private Limited Company</option>
                                            <option value="4">Company Limited By Guarantee</option>
                                            <option value="5">Unlimited Company</option>
                                            <option value="6">Public Limited Company</option>
                                            <option value="7">Limited Liability Partnership</option>
                                            <option value="8">Foreign Company</option>
                                        </select>

                                        <div class="float-right mb-4">
                                            <button type="submit" class="btn btn-danger">Need Help?</button>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-4">
                                        {{ form.contactNumber.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Contact Number">
                                    </div>

                                    <div class="col-md-12 mb-4">
                                        {{ form.contactEmail.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>

                                    <div class="col-md-12 mb-4">
                                        {{ form.website.label(class="float-left") }}
                                        <input type="text" class="form-control" placeholder="Website Address">
                                    </div>

                                    <br>

                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Business Model Strategy</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 2 - 5</h2>
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                {{ form.introduction.label(class="float-left") }}
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                {{ form.why.label(class="float-left") }}
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                {{ form.problems.label(class="float-left") }}
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                {{ form.benefit.label(class="float-left") }}
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                {{ form.solving.label(class="float-left") }}
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div> <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous"
                                        value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Upload A Pitch for Your General Business Model
                                                    Strategy:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 3 - 5</h2>
                                            </div>
                                        </div> <label class="fieldlabels">Upload Your Video:</label> <input type="file"
                                            name="pic" accept="image/*">
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous"
                                        value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Please choose your loan package</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 4 - 5</h2>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                {{ form_package.loanType.label(class="float-left") }}

                                                <select type="select" class="form-select form-select-lg mb-3 w-full"
                                                    aria-label=".form-select-lg" onchange="showDiv(this)">

                                                    <option selected>Loan Packages</option>
                                                    <option value="1">Short Term</option>
                                                    <option value="2">Long Term</option>

                                                </select>

                                                <div id="hidden_div1" style="display:none;">
                                                    <div class="testimonial-item">
                                                        <div class="inner-content">
                                                            <h3>Benefits:</h3>
                                                            <br>
                                                            <div class="icon" style=" font-size: 50px;
                                                                 display: flex;justify-content: left">
                                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                            </div>
                                                            <h5>20% Cash Back on interest</h5>
                                                            <div class="icon" style=" font-size: 50px;
                                                                 display: flex;justify-content: left">
                                                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                                            </div>
                                                            <h5>Financing of up to RM2 million</h5>
                                                            <br><br>
                                                            <h3>Eligibility Requirements:</h3>
                                                            <br>
                                                            <div class="icon" style=" font-size: 20px;
                                                            display: flex;justify-content: left">
                                                                <i class="fa fa-check" aria-hidden="true"> Locally incorporated businesses that have been registered in Malaysia.</i>
                                                            </div>
                                                            <br>
                                                            <div class="icon" style=" font-size: 20px;
                                                            display: flex;justify-content: left">
                                                                <i class="fa fa-check" aria-hidden="true"> 
                                                                    Sole proprietorship, partnership and private limited companies</i>
                                                            </div>
                                                            <br>
                                                            <div class="icon" style=" font-size: 20px;
                                                            display: flex;justify-content: left">
                                                                <i class="fa fa-check" aria-hidden="true"> Companies that
                                                                    have been operating for less than 3 years</i>
                                                            </div>
                                                            <br>
                                                            <div class="icon" style=" font-size: 20px;
                                                            display: flex;justify-content: left">
                                                                <i class="fa fa-check" aria-hidden="true"> At least 50% of the business should 
                                                                    be owned by the management team</i>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div id="hidden_div2" style="display:none;">Hello hidden content 2
                                                </div>
                                                <script type="text/javascript">
                                                    function showDiv(select) {
                                                        if (select.value == 1) {
                                                            document.getElementById('hidden_div1').style.display = "block";
                                                            document.getElementById('hidden_div2').style.display = "none";
                                                        } else if (select.value == 2) {
                                                            document.getElementById('hidden_div1').style.display = "none";
                                                            document.getElementById('hidden_div2').style.display = "block";
                                                        }
                                                        else {
                                                            document.getElementById('hidden_div1').style.display = "none";
                                                            document.getElementById('hidden_div2').style.display = "none";
                                                        }
                                                    }
                                                </script>
                                            </div>

                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Submit" />
                                    <input type="button" name="previous" class="previous action-button-previous"
                                        value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Finish:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 5 - 5</h2>
                                            </div>
                                        </div> <br><br>
                                        <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                        <div class="row justify-content-center">
                                            <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png"
                                                    class="fit-image"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5 class="purple-text text-center">You Have Successfully Submitted Your
                                                    Application</h5>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> -->

                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Company Cashflow</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>

                <div class="mb-4 container w-full bg-white rounded-lg shadow-lg p-4">
                    <div class="flex flex-wrap -mx-3 mb-6 col-start-3 col-span-8 row-start-2">
                        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name">
                                Company Establishment Date
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="establishmentDate" type="date" name="Date_of_Calibration" required>
                        </div>
                        <div class="w-full md:w-1/4 px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                                Today's Date
                            </label>
                            <input
                                class="appearance-none block mb-3 w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="currentDate" type="date" name="Next_Due_Date" disabled="true" value={{today_date}}
                                required>
                        </div>
                    </div>
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto" id="prediction-form">
                            <form action="/predict" method="POST" enctype="multipart/form-data">

                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Date
                                            </th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Revenues
                                            </th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Expenses
                                            </th>
                                            <th scope="col" class="relative px-6 py-3">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="Expenses_Table" class="bg-white divide-y divide-gray-200">
                                    </tbody>
                                </table>

                            </form>

                        </div>
                    </div>

                    <br>
                    <hr>
                    <br>

                    <!-- <div class="grid gap-6 mb-8 md:grid-cols-2">
                      </div> -->
                    <div class="container">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Company Cashflow Prediction</h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <!-- <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">820</span>
                                        <span>Visitors Over Time</span>
                                    </p> -->
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> 12.5%
                                        </span>
                                        <span class="text-muted">Predicted Grow in One Year</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas id="myChart"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                    <span class="mr-2">
                                        <i class="fas fa-square text-primary"></i> This Week
                                    </span>

                                    <span>
                                        <i class="fas fa-square text-gray"></i> Last Week
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <br>

                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                        for="grid-first-name">
                        Upload Income Statement (Compulsary)
                    </label>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <label id="prediction-submit" class="mt-3 btn btn-primary">
                            Upload document <input type="file" hidden>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Online Store Visitors</h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">820</span>
                                        <span>Visitors Over Time</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> 12.5%
                                        </span>
                                        <span class="text-muted">Since last week</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas id="visitors-chart" height="200"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                    <span class="mr-2">
                                        <i class="fas fa-square text-primary"></i> This Week
                                    </span>

                                    <span>
                                        <i class="fas fa-square text-gray"></i> Last Week
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Products</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Sales</th>
                                            <th>More</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1"
                                                    class="img-circle img-size-32 mr-2">
                                                Some Product
                                            </td>
                                            <td>$13 USD</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    12%
                                                </small>
                                                12,000 Sold
                                            </td>
                                            <td>
                                                <a href="#" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1"
                                                    class="img-circle img-size-32 mr-2">
                                                Another Product
                                            </td>
                                            <td>$29 USD</td>
                                            <td>
                                                <small class="text-warning mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    0.5%
                                                </small>
                                                123,234 Sold
                                            </td>
                                            <td>
                                                <a href="#" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1"
                                                    class="img-circle img-size-32 mr-2">
                                                Amazing Product
                                            </td>
                                            <td>$1,230 USD</td>
                                            <td>
                                                <small class="text-danger mr-1">
                                                    <i class="fas fa-arrow-down"></i>
                                                    3%
                                                </small>
                                                198 Sold
                                            </td>
                                            <td>
                                                <a href="#" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="dist/img/default-150x150.png" alt="Product 1"
                                                    class="img-circle img-size-32 mr-2">
                                                Perfect Item
                                                <span class="badge bg-danger">NEW</span>
                                            </td>
                                            <td>$199 USD</td>
                                            <td>
                                                <small class="text-success mr-1">
                                                    <i class="fas fa-arrow-up"></i>
                                                    63%
                                                </small>
                                                87 Sold
                                            </td>
                                            <td>
                                                <a href="#" class="text-muted">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Sales</h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">$18,230.00</span>
                                        <span>Sales Over Time</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        <span class="text-success">
                                            <i class="fas fa-arrow-up"></i> 33.1%
                                        </span>
                                        <span class="text-muted">Since last month</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas id="sales-chart" height="200"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                    <span class="mr-2">
                                        <i class="fas fa-square text-primary"></i> This year
                                    </span>

                                    <span>
                                        <i class="fas fa-square text-gray"></i> Last year
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header border-0">
                                <h3 class="card-title">Online Store Overview</h3>
                                <div class="card-tools">
                                    <a href="#" class="btn btn-sm btn-tool">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-tool">
                                        <i class="fas fa-bars"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                    <p class="text-success text-xl">
                                        <i class="ion ion-ios-refresh-empty"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                            <i class="ion ion-android-arrow-up text-success"></i> 12%
                                        </span>
                                        <span class="text-muted">CONVERSION RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                    <p class="text-warning text-xl">
                                        <i class="ion ion-ios-cart-outline"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                            <i class="ion ion-android-arrow-up text-warning"></i> 0.8%
                                        </span>
                                        <span class="text-muted">SALES RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                                <div class="d-flex justify-content-between align-items-center mb-0">
                                    <p class="text-danger text-xl">
                                        <i class="ion ion-ios-people-outline"></i>
                                    </p>
                                    <p class="d-flex flex-column text-right">
                                        <span class="font-weight-bold">
                                            <i class="ion ion-android-arrow-down text-danger"></i> 1%
                                        </span>
                                        <span class="text-muted">REGISTRATION RATE</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->

    <!-- Main Footer -->
</div>
{% endblock %}