{% extends 'layout.html' %}
{% block title %}
BiH Service
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3 p-4">
                <h2 id="heading">Business Model Strategy</h2>
                <p>Fill up all the informartion to next step</p>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Personal</strong></li>
                        <li id="payment"><strong>Image</strong></li>
                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Step #1: How will your startup deliver value?
                                    </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div>
                            {{ StrategyForm.valuePreposition.label(class="fieldlabels") }}
                            {{ StrategyForm.valuePreposition(class="form-control", placeholder="A value proposition is a statement that answers the 'why' someone should do business with you. It should convince a potential customer why your service or product will be of more value to them than similar offerings from your competition.") }}                    

                            {{ StrategyForm.customerRelationships.label(class="fieldlabels") }}
                            {{ StrategyForm.customerRelationships(class="form-control", placeholder="") }}                    
                            
                            {{ StrategyForm.startupAccess.label(class="fieldlabels") }}
                            {{ StrategyForm.startupAccess(class="form-control", placeholder="") }}                  
                        </div> <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Step #2: How will your startup create value?</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            <</div>
                            {{ StrategyForm.partners.label(class="fieldlabels") }}
                            {{ StrategyForm.partners(class="form-control", placeholder="A value proposition is a statement that answers the 'why' someone should do business with you. It should convince a potential customer why your service or product will be of more value to them than similar offerings from your competition.") }}                    

                            {{ StrategyForm.valueGenerate.label(class="fieldlabels") }}
                            {{ StrategyForm.valueGenerate(class="form-control", placeholder="") }}                    
                            
                            {{ StrategyForm.resources.label(class="fieldlabels") }}
                            {{ StrategyForm.resources(class="form-control", placeholder="") }}                  
                        </div> <input type="button" name="next" class="next action-button" value="Next" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Upload A Picth for Your General Business Model Strategy:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> <label class="fieldlabels">Upload Your Video:</label> <input type="file" name="pic"
                                accept="image/*">
                        </div> <input type="button" name="next" class="next action-button" value="Submit" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Submitted Your Application</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}